@import "tailwindcss";

@layer utilities {
  .global-bg {
    background-image: url('./components//images/back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}